<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snack Scout - Contact Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Arima:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <header>
        <nav>
            <nav class="nav-bar">
                <div class="logo-search">
                    <div class="logo">Snack Scout</div>
                    <input type="text" placeholder="Search for a snack!">
                </div>
            </nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/galleryPage">Gallery</a></li>
                <li><a href="/reviews">Reviews</a></li>
                <li><a href="/favourites">Favourites</a></li>
            </ul>
        </nav>
    </header>

    <section class="contact-title">
        <h1>Contact Us</h1>
    </section>

    <section class="contact-us-content">
        <p>
            Feel free to ask us any questions about Snack Scout!
            <br>
            Email: snackscout@gmail.com
            <br>
            Phone: +1 (880) 123-1234
        </p>
    </section>
    
    <section class="who-are-we">
        <h1>Who Are We?</h1>
        <div class="who-are-we-content">
            <p></p>
                We are Snack Scout: A global platform dedicated to helping snack enthusiasts discover and
                <br>
                review snacks from all around the world. Our website brings together a diverse collection of 
                <br>
                unique treats from six continents, offering an exciting way to explore different cultures 
                <br>
                through their flavours. From Asia, Africa, North America, South America, Europe, and 
                <br>
                Australia, Snack Scout is your go-to destination for discovering hidden gems and sharing 
                <br>
                your thoughts on everything from spicy chips to sweet confections. Join us on a tasty 
                <br>
                adventure across the globe!
            </p>
        </div>
    </section>

</body>
</html>
