<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snack Scout - Favourites</title>
    <link href="https://fonts.googleapis.com/css2?family=Arima:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reviews.css">
</head>
<body>
    <header>
        <nav>
            <nav class="nav-bar">
                <div class="logo-search">
                    <div class="logo">Snack Scout</div>
                    <input type="text" placeholder="Search for a snack!">
                </div>
            </nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/galleryPage">Gallery</a></li>
                <li><a href="/reviews">Reviews</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <section class="reviews-title">
        <h1>Top 8 Favourites!</h1>
    </section>

    <section class="review-gallery">
        <div class="review-card">
            <h1>Lays Sour Chicken Feet</h1>
            <img src="/images/layspurple.png" alt="Review Image 1"> 
        </div>
        <div class="review-card">
            <h1>Pocky Grape</h1>
            <img src="/images/pockygrape.png" alt="Review Image 2"> 
        </div>
        <div class="review-card">
            <h1>Oreo Sakura</h1>
            <img src="/images/oreosakura.png" alt="Review Image 3"> 
        </div>
        <div class="review-card">
            <h1>Crunchy Cheetos</h1>
            <img src="/images/crunchycheetos.png" alt="Review Image 4"> 
        </div>
    </section>

    <!-- second row -->
    <section class="review-gallery">
        <div class="review-card">
            <h1>Tayto Cheese & Onion</h1>
            <img src="/images/taytocheeseandonion.png" alt="Review Image 1"> 
        </div>
        <div class="review-card">
            <h1>Tim Tam</h1>
            <img src="/images/timtam.png" alt="Review Image 2"> 
        </div>
        <div class="review-card">
            <h1>Bamba</h1>
            <img src="/images/bamba.png" alt="Review Image 3"> 
        </div>
        <div class="review-card">
            <h1>Choco Pie</h1>
            <img src="/images/chocopie.png" alt="Review Image 4"> 
        </div>
    </section>
</body>
</html>
