<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snack Scout - Gallery</title>
    <link href="https://fonts.googleapis.com/css2?family=Arima:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/gallery.css">
</head>
<body>
    <header>
        <nav>
            <nav class="nav-bar">
                <div class="logo-search">
                    <div class="logo">Snack Scout</div>
                    <input type="text" placeholder="Search for a snack!">
                </div>
            </nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/reviews">Reviews</a></li>
                <li><a href="/favourites">Favourites</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <section class="gallery-title">
        <h1>Snack Gallery</h1>
    </section>
    
    <section class="subtitle">
        <h1>continents</h1>
    </section>

    <section class="continent-gallery">
        <div class="continent">
            <a href="/asia">
                <div class="continent-card" style="background-image: url('/images/asiasnacks.png');">
                    <h2>Asia</h2>
                </div>
            </a>
        </div>
        <div class="continent">
            <a href="/africa">
                <div class="continent-card" style="background-image: url('/images/africasnacks.png');">
                    <h2>Africa</h2>
                </div>
            </a>
        </div>
        <div class="continent">
            <a href="/north-america">
                <div class="continent-card" style="background-image: url('/images/northamericasnacks.png');">
                    <h2>North America</h2>
                </div>
            </a>
        </div>
        <div class="continent">
            <a href="/south-america">
                <div class="continent-card" style="background-image: url('/images/southamericasnacks.png');">
                    <h2>South America</h2>
                </div>
            </a>
        </div>
        <div class="continent">
            <a href="/europe">
                <div class="continent-card" style="background-image: url('/images/europesnacks.png');">
                    <h2>Europe</h2>
                </div>
            </a>
        </div>
        <div class="continent">
            <a href="/australia">
                <div class="continent-card" style="background-image: url('/images/australiasnacks.png');">
                    <h2>Australia</h2>
                </div>
            </a>
        </div>
    </section>
</body>
</html>
