<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snack Scout - Discover Snacks from Around the World</title>
    <link href="https://fonts.googleapis.com/css2?family=Arima:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style1.css">
</head>
<body>
    <header>
        <nav>
            <nav class="nav-bar">
                <div class="logo-search">
                    <div class="logo">Snack Scout</div>
                    <input type="text" placeholder="Search for a snack!">
                </div>
            </nav>
            <ul>
                <li><a href="/galleryPage">Gallery</a></li>
                <li><a href="/reviews">Reviews</a></li>
                <li><a href="/favourites">Favourites</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="hero-left">
            <h1>Snack <br> Scout</h1>
            <p>Discover, taste, and review snacks from around the world.</p>
       </div> 
        <div class="hero-right">
            <img src="/images/mainsnack.png" alt="Snacks"> 
        </div> 
    </section>

    <section class="special">
        <div class="featured">
            <h1>Featured Snacks</h1>
            <p>Our Customer Favourites!</p>
        </div>
    </section>

    <!-- <section class="featuredsnacknames">
        <nav-snack>
            <ul>
                <li><a href="#">Lays Sour Chicken Feet - China </a></li>
                <li><a href="#">Sakura Oreo - Japan</a></li>
                <li><a href="#">Pocky Grape - Japan</a></li>
                <li><a href="#">Crunchy Cheetos - US</a></li>
            </ul>
        </nav>

    </section> -->
    
    <section class="featuredsnacknames">
        <nav class="nav-snack">
            <ul>
                <li><a href="#">Lays Sour Chicken Feet - China</a></li>
                <li><a href="#">Sakura Oreo - Japan</a></li>
                <li><a href="#">Pocky Grape - Japan</a></li>
                <li><a href="#">Crunchy Cheetos - USA</a></li>
            </ul>
        </nav>
    </section>
    

    <section class="featuredimages">
        <div class="layspurple">
            <img src="/images/layspurple.png" alt="layspurple">
        </div>
        <div class="oreosakura">
            <img src="/images/oreosakura.png" alt="oreasakura">
        </div>
        <div class="pockygrape">
            <img src="/images/pockygrape.png" alt="pockygrape">
        </div>
        <div class="crunchycheetos">
            <img src="/images/crunchycheetos.png" alt="crunchycheetos">
        </div>
    </section>


    <!-- <section class="snack-categories">
        <div class="smallgallery">
            <img src="/images/chinachips.png" alt="Sichuan Pepper Snacks">
        </div>
        <div class="smallgallery">
            <img src="/images/swisscookies.png" alt="Cookies">
        </div>
    </section> -->

</body>
</html>
