body{
    background: url(forest.jpeg);
    background-size: cover;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: xxx-large;
    color: white;
    margin-top: 200;
    margin-left: 500;
    background-color: #006400;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    color: white;
    margin-top: 20;
    margin-left: 250;
    background-color: #006400;
}

hr{
    height: 5;
    background: white;
    border: none;
}
