body{
    background-color: black;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: x-large;
    color: white;
    margin-top: 200;
    margin-left: 400;
    background-color: #808080;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color: white;
    margin-top: 50;
    margin-left: 300;
    background-color: #808080;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color: white;
    margin-top: 50;
    margin-left: 10;
    background-color: #808080;
}